---
# Handlers for homeassistant role

- name: Restart argononed
  ansible.builtin.systemd:
    name: argononed
    state: restarted
  become: true
  when: ansible_architecture in ['aarch64', 'armv7l', 'armv6l']
