[Unit]
Description=Nightly check for pending PiHole backup (monthly unconditional)
Requires=pihole-backup.service

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
