gh_pat: "{{ lookup('env','GH_PAT') }}"
gh_username: "{{ lookup('env','GH_USERNAME') }}"

runtime_uid: "{{ ansible_user_uid }}"
runtime_gid: "{{ ansible_user_gid }}"

base_home: "/home/{{ ansible_user }}"
base_dir: "{{ base_home }}/homelab/target"

# --- Homeassistant
ha_hostname: "homeassistant-ansible"
ha_version: "stable"
ha_version_override: ""
ha_project: "ha-stack-ansible"
ha_stack_dir:  "{{ base_dir }}/ha-stack-ansible"
ha_config_dir: "{{ base_dir }}/homeassistant-ansible/config"
ha_config_repo_dir: "{{ lookup('env', 'HOME') }}/homelab/config/{{ ha_config_repo_subdir }}"
ha_native_backup_dir: "/mnt/backup/homeassistant"

ha_config_repo_branch: "main"
ha_config_repo_subdir: "homeassistant"
ha_config_repo: "https://github.com/{{ lookup('env','GH_USERNAME') }}/homelab-config.git"

ha_user_username: "{{ lookup('env', 'HA_USER_USERNAME') }}"
ha_user_password: "{{ lookup('env', 'HA_USER_PASSWORD') }}"
ha_bootstrap_enable: true
ha_container_name: homeassistant_ansible
ha_seedbox_network: "192.168.3.0/24"
ha_backup_encrypt_key: "{{ lookup('env', 'HA_BACKUP_ENCRYPT_KEY') }}"
ha_network_mode: bridge
ha_host_port: 8123

# --- Other HA integrations, addon's
# Feature flags
enable_ssh_terminal: true
enable_cloudflared: true
enable_code_server: true
enable_esphome: true
enable_samba: true

# Ports (host-side);
code_server_port: 8443      # linuxserver/code-server default
samba_tcp_445: 445          # change when needed
samba_tcp_139: 139
ssh_port: 2222
esphome_port: 6052

# Feature vars, Data dirs
code_server_data_dir: "{{ ha_stack_dir }}/data/code-server"
ssh_data_dir:         "{{ ha_stack_dir }}/data/ssh"
esphome_data_dir:     "{{ ha_stack_dir }}/data/esphome"

# Required data dirs (created in docker-compose.yml)
service_data_dirs:
  - "{{ code_server_data_dir }}"
  - "{{ ssh_data_dir }}"
  - "{{ esphome_data_dir }}"

tz: "Europe/Brussels"
enable_target_passwordless_sudo: true
manage_docker_group: false

# --- Argon One Case Fan (Raspberry Pi)
enable_argon_fan: true
argon_fan_curve_default: |
  45=25
  55=40
  65=70
  75=100

# --- PiHole
pihole_hostname: "pihole-ansible"
pihole_version: "latest"
pihole_project: "pihole-stack-ansible"
pihole_stack_dir: "{{ base_dir }}/pihole-stack-ansible"
pihole_etc_dir: "{{ pihole_stack_dir }}/data/pihole-etc"
pihole_dnsmasq_dir: "{{ pihole_stack_dir }}/data/dnsmasq-etc"
pihole_backup_dir: "/mnt/backup/pihole"
pihole_config_repo_dir: "{{ lookup('env', 'HOME') }}/homelab/config/pihole"
pihole_container_name: pihole_ansible
pihole_host_port_http: 80
pihole_host_port_https: 443
pihole_host_port_dns: 53
pihole_seedbox_network: "192.168.3.0/24"
pihole_web_password: "{{ lookup('env', 'PIHOLE_WEB_PASSWORD') }}"
