services:
  {{ ha_container_name | default('homeassistant') }}:
    image: "ghcr.io/home-assistant/home-assistant:{{ ha_version }}"
    container_name: "{{ ha_container_name | default('homeassistant') }}"
    privileged: true
    restart: unless-stopped
    volumes:
      - "{{ ha_config_dir }}:/config"
      - "/etc/localtime:/etc/localtime:ro"
{% if ha_network_mode | default('host') == 'host' %}
    network_mode: "host"
{% else %}
    ports:
      - "{{ ha_host_port | default(8123) }}:8123"
{% endif %}
{% if enable_cloudflared | default(false) %}
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    depends_on:
      - {{ ha_container_name | default('homeassistant') }}
    command: tunnel --no-autoupdate run --token ${CF_TUNNEL_TOKEN}
    environment:
      - CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}
{% endif %}
